@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(252, 250, 250, 0.774);
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4 {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 600;
}
